h1{
    text-align: center;
    color:purple;
}

p{
    font-size: 20px;
}

#name{
    color:blue;
}
ul{
    list-style-type: none;
}
li {
        display: inline;
 }

#country{
       font-style: italic;
    
}
html{
background-color: rosybrown;
}
center{
 text-align: center;
}

#le1{
    color: yellow;
}
#le3{
   color: maroon;
}
#le4{
    color: orange;
 }
 #le5{
    color: green;
 }
 #le6{
    color: yellow;
 }
 #le7{
    color: maroon;
 }
 #le8{
    color: orange;
 }
